<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
 
 <properties resource="db.properties"/>
 
 <settings>
 <!-- 
 	데이터 등록 시 해당 속성값이 존재하지 않으면 '부적합한 열유형 : 1111' 예외가 발생함.
 	이 경우 해당 jdbcType을 명시적으로 알려주던지 아래와 같이 NULL에 대해 특정 값으로 설정 가능함.
  -->
 	<setting name="jdbcTypeForNull" value="NULL"/>
 	
 </settings>
 
 <typeAliases>
 	<typeAlias type="kr.or.ddit.vo.BoardVO" alias="boardVO"/>
 </typeAliases>
 
 
  <environments default="dev">
  		<environment id="dev">
  			<transactionManager type="JDBC"/>
  			<dataSource type="POOLED">
  				<property name="driver" value="${driver}"/>
  				<property name="url" value="${url}"/>
  				<property name="username" value="${username}"/>
  				<property name="password" value="${password}"/>
  			</dataSource>
  		</environment>
<!--   		<environment id="real">  이렇게 여러게 만들 수 있다.-->
<!--   			<transactionManager type="JDBC"/> -->
<!--   			<dataSource type="POOLED"> -->
<!--   				<property name="driver" value=""/> -->
<!--   				<property name="url" value="sdfsdfsdsfs"/> -->
<!--   				<property name="username" value=""/> -->
<!--   				<property name="password" value=""/> -->
<!--   			</dataSource> -->
<!--   		</environment> -->
  </environments>
  
  <mappers>
  	<mapper resource="mapper/board.xml"/>
  </mappers>
  
  
  
  
  
</configuration>